
* {
  pointer-events: auto;
  cursor: auto;
}

html, body {
  user-select: none;
  width: min-content;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  user-select: none;
  pointer-events: none;
}

iframe {
  pointer-events: none;
  user-select: none;
}